.MapView {
  /*width: 900px;*/
  height: 600px;
  margin-top: 3px;
  border: 2px solid #ddd;
}

.button {
  /*margin: 5px;*/

}

.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /*color: #FB0077;*/
  /*background-color: #83EA6D*/
}

.eventHeading {
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin: 3px;
  font-family: 'Roboto', sans-serif;
}

.search-bar {
  margin: 10px;
  text-align: center;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}

.search-bar input {
  width: 80%;
  border-radius: 4px;
  padding:5px 15px 5px 35px;
  background: url('./search.png') no-repeat; 
  font-family: 'Roboto', sans-serif;
}

.list-inline {
  max-height: 600px;
  overflow-y:scroll; 
}

.show {
  display: block;
}

.popup {
  font-family: 'Roboto', sans-serif;
}